body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff
}
a {
  text-decoration: none;
}
.main-header {
  width: 100%;
  min-height: 60px;
  margin-bottom: 0;
  background-color: transparent;
}
.main-navigation {
  width: 1200px;
  font-size: 14px;
  line-height: 26px;
  color: #000000 ;

  background-color: #ffffff;

}
.site-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #8fb8d6;
}
.site-navigation a:active {
  color: #cacaca;
}
.sedona-welcome  {
  margin-top: 0;
  background-image: url("img/background-photo.svg");
  background-position: top center;
  background-repeat: no-repeat;
}
.polygon {
  margin-top: 0;
  background-image: url("img/polygon.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
.sedona-adventages {
  text-align: center;
}

.sedona-adventages h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.sedona-adventages p {
    color:#333333;
}

.hotels-search {
  text-align: center;
}

.hotels-search h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.hotels-search p {
  font-size: 14px;
  line-height: 24px;

  color:#333333;
}
.hotels-search form {
  width: 568px;
  height:483px;
  margin: 0 auto;
}

.search-form-name {
  width: 568px;
  height: 86px;
  background-color: #766357;

  font-size: 21px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;

  color: #ffffff;
}
.search-form-name:hover,
.search-form-name:focus {
  background-color: #604e44;
}
.search-form-name:active {
  background-color: #503e32;
  color: #928982;
}
.form-wrapper {
  width: 458px;
  padding-top: 55px;
  padding-bottom: 60px;
  margin: 0 auto;
}
.date-item {
  display: flex;
  align-items: center;
}
.date-item label {
  font: inherit;
  text-align: left;
  margin-right: 20px;
}
.date-item input {
  flex-grow: 1;
  font: inherit;
  min-width: 260px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
}
.date-item input:hover {
  background-color: #ebebeb;
}
.date-item input:focus {
  background-color: #ffffff;
  border-color: #ebebeb;
}
.calendar-button {
  width: 38px;
  height:40px;
  border: none;
  background-color: #f2f2f2;
  color: #a8a8a8;
}
.calendar-button:hover,
.calendar-button:focus {
  background-color: #ebebeb;
  color: #000000;
}
.calendar-button:active {
  background-color: #ffffff;
  color: #80b2d3;
}
.visitors-count-wrapper {
  display: flex;
  justify-content: space-between;
}
.visitors-count-wrapper:nth-child(2) {
  margin-left: auto;
}
.visitors-count {
  display: flex;
  align-items: center;
}
.visitors-count label {
  text-align: left;
  margin-right: 40px;

}
.visitors-count input {
  flex-grow: ;
  font-size: 21px;
  width: 37px;
  height: 36px;
  border: none;

  background-color: #f2f2f2;
}
.visitors-count button {
  width: 38px;
  height: 38px;
  font-size: 21px;
  border: none;

  background-color: #f2f2f2;
  color: #a8a8a8;
}
.visitors-count button:hover,
.visitors-count button:focus {
  color: #000000;
}
.visitors-count button:active {
  color: #80b2d3;
}
.hotels-search-button {
  font-size: 21px;
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  border: none;
  margin-bottom: 55px;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
}
.hotels-search-button:hover,
.hotels-search-button:focus {
  background-color: #669ebf;
}
.hotels-search-button:active {
    background-color: #5596be;
    color: #95b9d3;
}
.mapofsedona img {

}


.hotel-contaner {
  display: flex;
  align-items: center;
  width: 1060px;
  min-height: 150px;
  margin: 0 auto;
  border-top: 1px solid #e5e5e5;
}
.hotel-contaner:last-child {
  border-bottom: 1px solid #e5e5e5;
}
.hotel-line {
  min-height: 150px;

}
 .hotel-rating {
  margin-left: auto;

}
.hotel-foto {
 margin-top: 35px;
}
.hotel-info {
  display: flex;
  flex-direction: column;

  margin-left: 30px;
  width: 300px;
}

.nameofthehotel {
  font-size: 21px;
  font-weight: bold;
}
.nameofthehotel:hover,
.nameofthehotel:focus {
  color: #82b3d3;
}
.nameofthehotel:active {
  color: #cacaca;
}
.hotel-info-wrapper {
  width: 185px;
  display: flex;
  justify-content: space-between;
}
.hotel-type {
  color: #333333;
}
.hotel-price {
  flex-shrink: 1;
  color: #333333;
}
.buttons-wrapper {
  display: flex;

}
.button-abouthotel {
  width: 110px;
  height: 27px;
  background-color: #82b3d3;

  text-align: center;
  vertical-align: middle;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  border: none;
}
.button-abouthotel a{
  font-size: 14px;
}
.button-abouthotel:hover,
.button-abouthotel:focus {
  background-color: #669ebf;
}
.button-abouthotel:active {
  background-color: #5596be;
  color: #94b9d3;
}
.button-book {
  width: 142px;
  height: 27px;
  background-color: #766357;
  text-align: center;
  vertical-align: middle;
  border: none;
  margin-left: 5px;
  color: #ffffff;
}
.button-book a {
  font-size: 14px;
}
.button-book:hover,
.button-book:focus {
  background-color: #604e44;
}
.button-book:active {
  background-color: #503e32;
  color: #94b9d3;
}
.hotel-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.starpic{
  background-image: url("img/star.svg");
  background-repeat: repeat-4;
}

.rating {
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
  font-size: 14px;
  text-align: center;
  color: #666666;
}


.main-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height:  120px;
}
.hashtag {
  font-size: 21px;
}

.social-buttons {
  display: flex;
  align-items: center;

  list-style: none;
}
.social-buttons li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-left: 5px;
}

.footer-copyright {
  display: flex;
  align-items: center;
}
.logo-button {
  margin-left: 10px;
}
.logo-button:hover,
.logo-button:focus {
}
